h1{
  color: #FFFFFF;
  font-size: 35px;
}

html {
  font-family: arial;
  font-size: 14px;
}

body{
  margin: 0;
  line-height: 1.5;
  text-align: left;
  background-color: #E5E5E5;
}

title {
  display: none;
}

/* ----HEADER---- */

.headerTest {
  padding: 45px 22px;
  margin-bottom: 45px;
  background-color: #28CAD48A;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

@media (min-width: 576px)
.headerTest {
  padding: 4rem 2rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  /* padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
  color: #black;
}


@media (min-width: 1200px)
.container{
  max-width: 1140px;
}

/* Logout & Shopcart Button */

input[type="submit"]{
  padding: 8px 30px;
  background-color: #28CAD4;
  border: 2px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
  float: right;
  margin-right: 20px;
  border: 2px solid #00F0FF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[name="shopcart"]{
  margin-right: -5px;
}


/* ARTICLE_SHOW */

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;	/*first row*/
  margin-left: -15px;
  margin-bottom: 15px;

}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 15px;
  position: relative;
  width: 100%;
  padding-right: 15px;
}

*, ::before, ::after {
  box-sizing: border-box;
}

.article-card{
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  border: 2px solid #db6c6c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  float: left;
  margin-left: 150px;
  margin-top: 50px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.article-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}


/* Buttons for footer */

.btn{display: inline-block;font-weight: 400;text-align: center;vertical-align: middle;border: 1px solid;padding: 5px 15px;font-size: 18px;line-height: 1.5;/* border-radius: 5px; */color: #fff;background-color: #db6c6c;border-color: #db6c6c;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);text-decoration: none;/* margin-left: 30px; *//* margin-bottom: 10px; *//* margin-top: 10px; */width: 100%;}

/* Card footer */

.card-footer {

  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
#searchbar{
    margin-left: 30px;
    margin-top: 10px;
    width: 300px;
    border: solid 1px #8B4646;
}
#searchbarDiv{
  background-color: #d4bfbf;
  margin: 30px;
  height: 50px;
  border-bottom: solid 2px #DB6C6C;
}
