body {
  margin: 0 auto;
  height: 100%;
}

h1 {
  font-size: 64px;
  color: #DB6C6C;
}

h2 {
  font-size: 36px;
  color: #DB6C6C;
  text-align: center;
}

p {
  font-size: 16px;
  color: black;
}

#text-return{
  color: black;
}

/* Buttons */
.button-style:hover {
  color: #DB6C6C;
  background-color: white !important;
  border: 2px solid #D44444 !important;
}


.button-style {
  display: inline-block;
  font-size: 16px;
  margin-top: 28px;
  color: white;
  border: 2px solid #D44444 !important;
  background-color: #DB6C6C !important;
  padding: 5px 45px;
  float: right;
  text-decoration: none;
  width: 266px !important;
  margin-left: 30px;
}

/*Header of Page*/
.adress-container h2 {
  text-align: center;
}

#return_text{
  border: none;
  background-color: #C4C4C4;
  float: right;
  height: 142px;
  width: 612px;
  margin-top: -11px;
  font-size: 18px;
  color: black;
}


/*Return */
.return-container {
  border: 2px solid #DB6C6C;
  padding: 20px 20px 209px 20px;
  margin-bottom: 20px;
  margin-top: 15px;
  width: 621px;
  position: center;
  margin: auto;
}
/* Input Fields of return*/
.return-container input{
  border: none;
  float: right;
  height: 28px;
  width: 466px;
  background-color: #C4C4C4;
}
