/*generel style sheet for some elements*/
body {
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-direction: column;
}
html
{
	height: 100%;
}
main
{
	flex: 1;
}

h1 {
	font-size: 64px;
	color: #DB6C6C;
}

h2, h3 {
	font-size: 36px;
	color: #DB6C6C;
}

p {
	font-size: 16px;
	color: black;
}

/*for header menu, border fits on the header otherwise it would stick out*/
*, ::before, ::after {
  box-sizing: border-box;
}



/* Header */
header {
	background: #DB6C6C;
	width:100%;
	height: 86px;
}


.header-container .header-child1 a {
	font-size: 48px;
}

.header-container .header-child1 {
	display: flex;
	width: 50%;
	height: 100%;
	align-items: center;
	padding-left: 20px
}

.header-container .header-child2 {
	/*! width: 50%; */
	height: 100%;
	margin-bottom: 10px;
	background: #DB6C6C;
}

.header-container .header-child2 a{
	display: inline-flex;
    height: 100%;
    width: 120px;
    align-items: center;
	justify-content: center;
}
/* Header Navigation */
.header-container ul{
	list-style: none;
	display: flex;
	height: 100%;
	margin: 0px;
	padding: 0px;
	
}

.header-container li {
	width: 120px;
	height: 100%;
	display: flex;
	border: solid 2px #8B4646;
}

.header-container a {
	text-decoration: none;
	color: white;
	font-size: 24px;
}






/*if screen is bigger than 800px*/
@media screen and (min-width: 800px)
{
			.header-container {
				display: flex;
			}

}
