
/* Buttons */
.button-style {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: white;
	border: 2px solid #D44444;
	background-color: #DB6C6C;
	padding: 5px 45px;
}

.button-style:hover {
	color: #DB6C6C;
	background-color: white;
	border: 2px solid #D44444;
}

/* Login Page */
.login-page-container {
	display: flex;
	justify-content: center;
	margin-top: -150px;
}

.login-container {
    display: flex;
    border: 2px solid #DB6C6C;
    height: 400px;
    width: 600px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}
/* Login Inputs */
.login-container input[type=text], input[type=password]{
	width: 400px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.login-container label {
	margin-right: 20px;
}
/* Login Container & Button Style */
.login-container .button-style {
	margin-top: 15px;
	margin-left: 358px;
}

/*for smaller screen*/
@media screen and (max-width: 700px)
{
	.login-container {
    height: 600px;
    width: 400px;
  
}
	.login-container input[type=text], input[type=password]{
	width: 200px;
	padding: 12px 20px;
	margin: 8px 10px;
		margin-top: 60px;
}
	.login-container label {
	margin-right: 20px;
		margin-left: 0px;
}

	.login-container .button-style {
	margin-top: 50px;
	margin-left: 80px;
}

}
