

/* Buttons */
.button-style {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: white;
	border: 2px solid #D44444;
	background-color: #DB6C6C;
	padding: 5px 45px;
}

.button-style:hover {
	color: #DB6C6C;
	background-color: white;
	border: 2px solid #D44444;
}
/* Name of the User */
#displayName{
	font-size: 36px;
	margin-left: 10px;
	 margin-top: 40px;
}
/* Profile */
.profile-page-container {
	display: flex;
	justify-content: center;
}

.profile-container {
	margin-top: 100px;
	display:flex;
	flex-direction: column;
}

.profile-header {
	display: flex;
}

.profile-main {
	margin-top: 100px;
}

.profile-container .profile-header h2 {
	display: flex;
	align-items: center;
	margin-left: 40px;
}

.profile-container img {
	margin-right: 40px;
	height: 180px;
	width: 180px;
	border: 0px solid;
	border-radius: 100%;
}

.profile-shipadd {
	border: 2px solid #DB6C6C;
	padding: 0px 20px 20px 20px;
	margin-bottom: 20px;
	margin-left: 400px;
	margin-right: 190px;
}

.profile-billadd {
	border: 2px solid #DB6C6C;
	padding: 0px 20px 20px 20px;
	margin-bottom: 70px;
	margin-left: 400px;
	margin-right: 190px;
}

.profile-main input[type=button] {
	margin-left: 235px;
}

.profile-main h2 {
	text-align: center;
}
/* Input Field */
input{
	border: 2px solid #DB6C6C;
	margin-top: 30px;
}

@media screen and (max-width: 1200px){
	
	.profile-shipadd {

	margin-left: 100px;
	margin-right: 300px;
}
	.profile-billadd {

	margin-left: 100px;
	margin-right: 300px;
}
	
}

@media screen and (max-width: 650px){
	
	.profile-shipadd {

	margin-left: 20px;
	margin-right: 150px;
}
	.profile-billadd {

	margin-left: 20px;
	margin-right: 150px;
}
	
}
